body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

.header {
    box-shadow: 10px 10px 10px rgb(194, 191, 166);
    border: 20px 20px 20px 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    gap: 20px;

}



ul {
    display: flex;
    justify-content: end;
    gap: 50px;
    margin: 10px;
    font-size: larger;
    list-style: none;
}

li {
    justify-content: end;
    text-decoration: none;
}

h1 {
    color: rgb(255, 72, 0);
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-weight: 900;
    font-size: xx-large;
}

h2 {
    text-transform: uppercase;
    font-size: x-large;
    font-style: bold;
    font-family: 'Bebas Neue';
    font-weight: 900;
    font-size: xx-large;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
}

.pic {
    display: flex;
    align-items: flex-start;
    gap: 30%;
}

span {
    color: orangered;
    gap: 20px;
    gap: 40%;
}

.cantainer {
    background-color: gainsboro;
    gap: 40px;
    margin-top: 20px;
}

.main {
    display: flex;
    background-color: gainsboro;
    gap: 5%;
    margin-top: 50px;
    justify-content: space-around;

}

a {
    text-decoration: none;
}

.card {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 10%;
    width: 5000px;

}

.img {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 10px 8px rgb(0, 0, 0, 0.1);
    display: inline-block;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: larger;

}

.main2 {
    padding: 20px;
    margin-right: 60px;
    margin-top: 20px;
    justify-items: center;
    gap: 5%;

}

.troli {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    gap: 30px;
    flex: 1;
}

.boxer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 150px;
    box-shadow: 0 0 15px rgba(0 0, 0, alpha);
    padding: 20px;
    margin: 20px
}

.box2 {
    display: flex;
    justify-content: right;
    text-align: center;
}




.letter {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    height: 150px;
    text-align: center;
    margin-left: 200px;
    margin-top: 200px;
}

.bit {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

input {
    font-size: x-large;
}

input button {
    position: absolute;
}
}

button:hover {
    color: hotpink;
}

.footer {
    background-color: white;
    text-align: center;
    font-size: larger;
}

#last {
    text-align: center;
    font-size: larger;
}